@charset "utf-8";

html {
	font-family: 'Roboto', sans-serif;
}

/*Style Index */

.wrapper__direct {
	margin: 100px auto;
	display: flex;
	justify-content: space-around;
	
}

.button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/*Style Email*/
.box__wrapper {
	margin: 50px auto;
	width: 580px;
	height: 540px;
}

.box__email {
	width: 100%;
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box__message {
	background-color: #404040;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	color: #fff;
	border-top-right-radius: inherit;
	border-top-left-radius: inherit;
}

.box__address {
	color: #7575A1;
}

.box__email p {
	padding: 10px;
}

.box__email p:not(:first-child) {
	border-bottom: 1px solid #eceff1;
}

.box__email input {
	border: none;
	outline: none;
	font-size: 14px;
}

.box__email input:focus::placeholder {
	color: transparent;
}

.text_area {
	word-wrap: break-word;
	margin-left: 10px;
	outline: none;
	height: 370px;
	line-height: 19.5px;
	font-size: 14px;
	overflow: auto;
}

.wrapper__btn {
	margin-left: 12px;
	display: inline-flex;
	align-items: center;
	
}

.btn__send {
	display: block;
	background-color: #1a73e8;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	color: #fff;
	cursor: pointer;
	line-height: 1.15;
	padding: 12px 25px;
	text-align: center;
	user-select: none;
}

.wrapper__icon {
	position: relative;
	padding: 20px 14px;
	background-color: #1a73e8;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	cursor: pointer;
}

.icon__dropdown {
	border-left: 1px solid #185abc;
	height: 100%;
	position: absolute;
	background-image:
		url(https://www.gstatic.com/images/icons/material/system/1x/arrow_drop_down_white_20dp.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
	right: 0;
	top: 0;
	width: 100%;
}

/*Style News*/
.news__body {
	background-color: #E9EBEE;
}

.news__wrapper {
	margin: 50px auto;
	width: 1200px;
	height: 100vh;
	background-color: #fff;
}

.news__box {
	padding-left: 10px;
}

.news__heading {
	border-bottom: 1px solid #a4a4a4;
	font-weight: bold;
	font-size: 18px;
	padding: 5px 0 3px 0;
	margin: 1px 0 15px 0;
	color: #004357;
	text-transform: uppercase;
}

.news__list {
	margin-left: 12px;
}

.news__item {
	margin-bottom: 20px;
}

.news__link {
	color: #337ab7;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
}

.news__link:hover {
	color: #23527c;
}

.news__item p {
	margin-bottom: 12px;
	font-size: 14px;
}

.news__time {
	color: #777777;
	font-weight: bold;
}

/*TaiLieu.vn */
.signup__wrapper {
	margin: 100px auto;
	width: 800px;
	height: auto;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15)
		0px 0px 0px 1px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #444;
}

.signup__heading {
	background-color: #1A83D2;
	width: 100%;
	height: 42px;
}

.signup__heading h1 {
	padding-top: 10px;
	padding-left: 10px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
}

.signup__content {
	padding: 10px 20px;
}

.signup__title {
	font-size: 12px;
	padding: 8px;
	padding-right: 0;
	color: #0080af;
	font-weight: 700;
}

.signup__form p {
	font-size: 12px;
}

.wrapper__input {
	margin: 15px 0;
}

.wrapper__input input {
	width: 295px;
	height: 20px;
	padding: 3px;
	color: #000;
	font-size: 11px;
	margin-right: 10px;
}

.wrapper__input .input__code {
	width: 120px;
}

.form__submit {
	width: 100%;
	display: flex;
	align-items: center;
}

.btn input {
	padding: 10px 20px;
	color: #FFF;
	background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
	font-weight: bold;
	border: none;
	border-radius: 3px;
	outline: none;
	box-shadow: 0 0 20px #eee;
	display: block;
	transition: 0.5s;
	text-align: center;
	font-weight: bold;
}

.btn input:hover {
	background-position: right center;
	cursor: pointer;
}

.checkbox {
	font-size: 13px;
}